* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: #FFF;

}

.top {
    letter-spacing: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    height: 130px;
    width: 440px;
    top: 40%;
    left: 40%;
    background: #1F0404;
    text-transform: uppercase;
    margin-bottom: 40px;




}
h1, h2 {
    text-align: justify;

}
.h {
    color: rgba(113, 170, 115, 0.70);
}

.e {
    color: rgba(163, 72, 72, 0.60);
}

.l {
    color: #475587;
}

.l_2 {
    color: #4B5E8D;
}

.o {
    color: rgba(178, 159, 109, 0.50);

}
.w {
    color: rgba(170, 144, 113, 0.40);
}
.o_1 {
    color: rgba(170, 144, 113, 0.40);
}
.r {
    color: #874775;
}
.l_1 {
    color: #8D4B63;
}
.d {
    color: rgba(109, 178, 162, 0.60);

}
.block_content {
    text-align: justify;
    text-shadow: 7px 7px 1px rgba(41, 36, 9, 0.25), 1px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 379px;
    height: 303px;
    flex-shrink: 0;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
}

.block2 {
    background-color: #D9D9D9;
    position: relative;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 440px;
}

